<!DOCTYPE html>
<html lang="en" ng-app="flash">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="styles.css">
  <title></title>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
</head>
<body ng-controller="DeckController">
  <section ng-controller="StudyController">


    <div ng-if="cards.length" class="card">
      <p ng-if="front" class="front">{{ cards[current].front }}</p>
      <p ng-if="!front" class="back">{{ cards[current].back }}</p>
    </div>

    <p ng-if="!cards.length"> No more cards to study, great job! </p>
    <span ng-if="cards.length">
      <button ng-click="next()">next</button>
      <button ng-click="previous()">back</button>
      <button ng-click="gotIt()">I got it!</button>
    </span>
    <button ng-click="reset()">Reset</button>
  </section>
  <section ng-controller="CardsController"></section>
  <script src="app.js"></script>
</body>
</html>
